@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

  .youtube-red {
    filter: invert(32%) sepia(100%) saturate(7500%) hue-rotate(360deg) brightness(93%) contrast(121%);
  }
  .discord-blue {
    filter: invert(33%) sepia(79%) saturate(1637%) hue-rotate(222deg) brightness(96%) contrast(97%);
  }

  .instagram-rainbow {
    background-image: linear-gradient(45deg, darken(#13abdb,5%), #B10DC9);

  }

/*   
  .instagram-rainbow {
    filter:;

  } */
}

/* 
instgram colours:

yellow:
#FFD600
filter: invert(85%) sepia(17%) saturate(7471%) hue-rotate(4deg) brightness(109%) contrast(102%);

orange:
filter: invert(50%) sepia(49%) saturate(4443%) hue-rotate(5deg) brightness(110%) contrast(102%);

pink:
#FF0069
filter: invert(24%) sepia(100%) saturate(7398%) hue-rotate(329deg) brightness(101%) contrast(106%);

light violet:
#D300C5
filter: invert(15%) sepia(86%) saturate(6902%) hue-rotate(298deg) brightness(93%) contrast(115%);

indigo:
#7638FA
filter: invert(25%) sepia(79%) saturate(4163%) hue-rotate(252deg) brightness(96%) contrast(104%);





*/


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
